---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/contact";
import NavBar from "../components/navbar";
---

<NavBar client:load />
<Layout title="Request Research">
  <div class="my-24 container mx-auto">

  </div>
</Layout>
