---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/navbar";
import MassiveTitleContainer from "../components/typography/massiveTitleContainer.astro";
import MediumText from "../components/typography/mediumText.astro";
import SecondaryTitle from "../components/typography/secondaryTitle.astro";
import NormalText from "../components/typography/normalText.astro";
import BlogCard from "../components/blogCard.astro";
const posts = await Astro.glob("./**/*.mdx");
import { Image as AstroImage } from "@astrojs/image/components";
---

<div class="bg-brandNeutral">
  <NavBar client:load />
  <Layout title="Home">
    <main>
      <div class="flex flex-col lg:grid grid-cols-12 grid-rows-1">
        <div class="col-start-1 col-end-10 flex flex-col">
          <div class="border-4 border-black py-16 -mt-2">
            <div class="max-w-[713px] mx-4 xl:mx-auto">
              <MassiveTitleContainer>
                <h1 class="font-bold">
                  Open-Sourced Analytics Code and Research For Google
                  Advertisers
                </h1>
              </MassiveTitleContainer>
            </div>
          </div>
          <div
            class="bg-brandNeutral-dark border-4 border-black -mt-2 flex md:flex-row flex-col justify-center"
          >
            <div
              class="flex flex-col items-center py-12 border-b-4 md:border-b-0 md:border-r-4 border-black flex-1 px-4 md:px-8 space-y-4 text-center"
            >
              <SecondaryTitle>
                <h2 class="font-bold text-center">View the Research</h2>
              </SecondaryTitle>
              <NormalText ExtraClasses={"max-w-[400px]"}
                >Open source code ready to optimize your account</NormalText
              >
              <a
                href="/research"
                class="font-bold text-white text-center bg-black px-8 py-2"
                >Read More</a
              >
            </div>
            <div
              class="flex flex-col items-center py-12 flex-1 px-4 md:px-8 space-y-4 text-center"
            >
              <SecondaryTitle>
                <h2 class="font-bold text-center">Request Research</h2>
              </SecondaryTitle>
              <NormalText ExtraClasses={"max-w-[400px]"}
                >Request code to optimize an account or research on optimization</NormalText
              >
              <NormalText>
                <a
                  href="/request-research"
                  class="font-bold text-center underline text-black px-8 py-2"
                  >Request Research</a
                >
              </NormalText>
            </div>
          </div>
          <div class="border-4 border-black -mb-1 -mt-1 pb-12">
            <SecondaryTitle>
              <p class="font-bold text-center my-12">Best Of</p>
            </SecondaryTitle>
            <div class="max-w-[780px] px-4 mx-auto space-y-8">
              {
                posts.map((post) => {
                  return (
                    <BlogCard
                      Headline={post.frontmatter.headline}
                      Description={post.frontmatter.description}
                      Image={post.frontmatter.image}
                      Link={post.url}
                    />
                  );
                })
              }
            </div>
          </div>
        </div>
        <div class="col-start-10 col-end-13 flex flex-col px-4">
          <div class="max-w-[400px] pb-8 xl:w-[280px] mx-auto mt-8">
            <MediumText>
              <p class="font-black mb-4">About</p>
            </MediumText>
            <AstroImage
              class="mb-4"
              loading="lazy"
              alt="austin pena headshot"
              src="/austin_pena_headshot.jpg"
              width={"550px"}
              aspectRatio="400:314"
            />
            <MediumText>
              Founded by Austin Pena, <i>Google Ads Open Research</i>
              enables technical marketers to quickly make meaningful changes on accounts.
            </MediumText>
          </div>
        </div>
      </div>
    </main>
  </Layout>
</div>
